@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400';

*, *:before, *:after {
  box-sizing: border-box;
}

.card-container {
   margin-top: 7px;
   position: relative;
   display: flex;
   justify-content: left;
   align-items: center;
}

.card-container.animated-appear {
    animation: anim-card 0.9s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
}

.card {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  flex: 1 0 100%;
  border-radius: 5px;
  overflow: hidden;
  /* background-color: white; */
  background-color: var(--color-theme-normal-alpha);
  /* background-color: var(--color-theme-accent); */
  box-shadow: 0px 0px 20px var(--color-theme-bold-shadow);
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: stretch;
  justify-content: stretch; */
}

.card ul, .card li {
   list-style-position: inside;
   /* padding-inline-start: 0.2em; */
   padding: 0;
   margin: 0;
}

/* .card:after {
  content: "";
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 200px;
  background: linear-gradient(to right, #7474BF 0%, #348AC7  51%, #7474BF  100%);
  position: absolute;
  animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
} */

.badgescard {
  flex-direction: column;
  flex: 2 30 0;
  border-radius: 3px;
  /* color: var(--color-font-title-light); */
  /* width: 100%; */
  position: relative;
  margin-top: 0.3em;
  /* min-width: 40%; */
}

.badgescard.animated-appear {
  /* z-index: -1; */
  top: -100px;
  animation: anim-badge 1.5s cubic-bezier(0.425, 1.04, 0.47, 1.105) 0.25s forwards;
}

.badgescard .expand-button {
  display: block;
  /* width: 100%; */
  padding: 2px 1rem;
  /* border: none; */
  margin-top: 0;
  text-align: center;
  /* background-color: var(--color-theme-accent); */
}

.badgescard .inside {
  /* width: 100%; */
  padding: 4px 0 4px 0;
  display: flex;
  flex-direction: column;
  background-color: var(--color-theme-accent);
  /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); */
  /* width: 100%; */
  /* max-width: 50%; */
  align-content: center;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  /* justify-content: center; */
}

.badgescard span, .badgescard li {
  padding: 1px 0px;
  margin: 0px;
  line-height: 1em;
}

.badgescard img, .badgescard svg {
  max-width: 50px;
}

.badgescard ul {
  /* list-style-position: inside; */
  padding-inline-start: unset;
  list-style-position: outside;
  margin-left: 1em;
}

.firstinfo {
  flex-direction: row;
  /* position: relative; */
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

.firstinfo .photo-block {
   display: flex;
   flex-direction: column;
   /* max-width: 200px; */
   width: 150px;
   flex-grow: 0;
   /* flex: 0 0 110px; */
   /* flex-wrap: wrap; */
}

.firstinfo li {
  text-indent: -1.4em;
  padding-left: 1.4em;
}

#my-photo {
  width: 100%;
  padding-top: 100%;
  border-radius: 25%;
  background-position: center ;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #FFF;
}

.photo-block .contact {
   padding: 0px 1px 0px 1px;
   margin: 0px 1px 0px 1px;
}
/* .firstinfo .contacts {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
} */

/* .contacts > div {
   display: flex;
   justify-content: center;
   flex: 1 1 calc(100% - 50px);
   flex-direction: column;
}
.contacts > div > div {
   display: flex;
   justify-content: center;
   flex-direction: row;
   flex: 1 1 calc(100% - 50px)
 } */

.flex-grid {
   display: flex;
   /* flex-wrap: wrap; */
   justify-content: space-evenly;
}

.grid-item {
   flex: 0 0 auto;
   width: 25%;
   /* height: 3rem; */
   /* overflow: hidden;
  overflow-x: auto;
  overflow-y: auto; */
    /* height: auto; */
    object-fit: contain;
}

.grid-item * {
  flex-shrink: 0;
  min-height:100%;
  min-width: 100%;
  object-fit: cover;
}

.grid-item:nth-child(odd) {
   flex: 0 0 auto;
}

.firstinfo .profileinfo {
  margin: 0px 0.5rem 0px 1rem;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  /* min-width: 0; */
  word-wrap: break-word;
  /* align-items: stretch; */
  justify-content: space-around;
  /* height: 100%; */
  align-content: space-between;
  /* height: 100%;
  min-height: 100%; */
  max-width: 60%;
}

.firstinfo .profileinfo h1 {
  /* background-image: repeating-radial-gradient(farthest-side at 5px 5px,#553c9a, #ee4b2b, #553c9a); */
  background-image: linear-gradient(to right, #7474BF 0%, #348AC7  51%, #7474BF  100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
  /* font-style: oblique; */
}

.firstinfo .profileinfo h3 {
  color: var(--color-font-title-light);
  text-align: center;
}

.firstinfo h1 em {
   /* font-style: normal;
   font-weight: 600; */
}

.firstinfo .specialization {
  margin-top: 0.5rem;
}

.firstinfo .techlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 1 auto;
  justify-content: space-around;
  margin-top: 0.3rem;
}

.firstinfo .profileinfo .badge {
  /* padding: 0 0.5em; */
  /* padding: 10px 0px;
  color: #2A2A2A;
  line-height: 1.2;
  font-style: initial; */
  /* flex: 10; */
  /* margin-bottom: auto; */
  /* padding: 0px 1em; */
}


.geo-location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.geo-location span {
  /* text-align: center; */
  /* vertical-align: middle; */
  /* line-height: 1.5rem; */
}

.geo-location img {
  /* vertical-align: middle; */
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

@keyframes anim-card {
  0% {
    opacity: 0;
    bottom: -500px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
@keyframes anim-badge {
  0% {
    opacity: 0;
    top: -100px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
@keyframes rotatemagic {
  0% {
    opacity: 0;
    transform: rotate(0deg);
    top: -30%;
    left: -35%;
  }
  100% {
    transform: rotate(-135deg);
    top: -30%;
    left: -35%;
  }
}