@keyframes slide {
   from {
      background-position: 0 0;
   }

   to {
      background-position: -120px 60px;
   }
}

.popup {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: auto;
   display: inline-flex;
   flex-direction: column;
   align-items: center;
   padding: 1rem 1rem;
}

.popup .animated-appear {
   opacity: 0;
   max-height: 0;
   animation: anim-popup 1.5s linear 2s forwards, anim-popup-expand 3.5s linear 1.5s forwards;
}

.checkerboard-background {
   background-color: var(--color-theme-normal);
   background-image: linear-gradient(
         45deg,
         var(--color-theme-accent) 25%,
         transparent 25%,
         transparent 75%,
         var(--color-theme-accent) 75%,
         var(--color-theme-accent)
      ),
      linear-gradient(
         -45deg,
         var(--color-theme-accent) 25%,
         transparent 25%,
         transparent 75%,
         var(--color-theme-accent) 75%,
         var(--color-theme-accent)
      );
   background-size: 60px 60px;
   background-position: 0 0;
   animation: slide 4s infinite linear;
}
 
.popup .message {
   margin-bottom: 1.4rem;
   margin-top: 0;
}

.popup .wide {
   flex-grow: 2;
}

.popup img {
   margin: 2px;
   object-fit: cover;
}
.popup .popup-btn {
   font-family:inherit;
   font-size: inherit;
   background: #fff;
   padding: 0.3rem 3.4rem;
   border: 3px solid black;
   margin-right: 2.6rem;
   box-shadow: 0 0 0 black;
   transition: all 0.2s;
}
 
.popup-btn:last-child {
   margin: 0;
}

.popup-btn:hover {
   box-shadow: 0.2rem 0.2rem 0 black;
   transform: translate(-0.2rem, -0.2rem);
}
 
.popup-btn:active {
   box-shadow: 0 0 0 black;
   transform: translate(0, 0);
}
 
.popup .controls {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

@keyframes anim-popup {
   0% {
      opacity: 0;
      top: -100px;
   }
   100% {
      opacity: 1;
      top: 0px;
   }
}

@keyframes anim-popup-expand {
   0% {
      max-height: 0;
   }
   100% {
      max-height: 300rem;
   }
}