@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400';
.firstinfo, .badgescard, .card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* body {
  
} */

*, *:before, *:after {
  box-sizing: border-box;
}

.card-container {
   margin-top: 7px;
   position: relative;
   animation: anim-card 0.9s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
   flex-direction: column;
}

.card {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.card ul, .card li {
   list-style-position: inside;
   list-style-type: none;
   padding: 0;
   margin: 0;
}

.card:after {
  content: "";
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 200px;
  background: linear-gradient(to right, #7474BF 0%, #348AC7  51%, #7474BF  100%);
  position: absolute;
  animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
}

.badgescard {
  flex-direction: column;
  border-radius: 3px;
  background-color: #F2F2F2;
  color: #444;
  width: 95%;
  position: relative;
  z-index: -1;
  top: -100px;
  animation: anim-badge 1.5s cubic-bezier(0.425, 1.04, 0.47, 1.105) 0.75s forwards;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.badgescard .expand-button {
  display: block;
  width: 100%;
  padding: 4px 0px;
  border: none;
  margin: 0;
  text-align: center;
  background-color: #F2F2F2;
}

.badgescard .inside {
  /* width: 100%; */
  padding: 2px 0 4px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.badgescard .inside .icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3px;
}

.badgescard span, .badgescard li {
  padding: 0px 5px;
  margin: 4px 4px 4px 30px;
  font-size: 0.95rem;
}

.badgescard img {
  max-width: 50px;
}

.badgescard ul {
  /* list-style-position: inside; */
}

.firstinfo {
  flex-direction: row;
  z-index: 2;
  position: relative;
}

.firstinfo .photo-block {
   display: flex;
   flex-direction: column;
   width: 25%;
   /* flex: 0 0 110px; */
   /* flex-wrap: wrap; */
}

.photo {
  /* position: relative;
  display: block; */
  background: url(../assets/my_photo_tiny.png), url(../assets/bg4_tiny.jpg);
  width: 100%;
  padding-top: 100%;
  /* height: 100px; */
  /* width: 100%;
  height: 25%; */
  border-radius: 25%;
  /* object-fit: cover; */
  background-position: center ;
  background-position: 50% 50%;
  /* background-size: 100% auto; */
  /* background-size: cover; */
  /* background-size: 100% 100%; */
  background-repeat: no-repeat;
  background-size: cover, 130%;
  background-color: #FFF;
  /* /* background-repeat: no-repeat; */
  /* resize: both;
  overflow: scroll; */
}

.photo-block .contact {
   margin: 3px 5px 0px 0px;
}
/* .firstinfo .contacts {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
} */

/* .contacts > div {
   display: flex;
   justify-content: center;
   flex: 1 1 calc(100% - 50px);
   flex-direction: column;
}
.contacts > div > div {
   display: flex;
   justify-content: center;
   flex-direction: row;
   flex: 1 1 calc(100% - 50px)
 } */

.flex-grid {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.grid-item {
   flex: 0 0 auto;
}
.grid-item:nth-child(odd) {
   flex: 0 0 auto;
}

.firstinfo .profileinfo {
  margin: 0px 10px 0px 15px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: space-between;
  height: 100%;
  min-height: 100%;
}
.firstinfo .profileinfo h1 {
  font-size: 1.3rem;
  font-weight: 600;
  /* background-image: repeating-radial-gradient(farthest-side at 5px 5px,#553c9a, #ee4b2b, #553c9a); */
  background-image: linear-gradient(to right, #7474BF 0%, #348AC7  51%, #7474BF  100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text; 
}
.firstinfo .profileinfo h3 {
  font-size: 1.0rem;
  color: #5A5A5A;
}
.firstinfo h1 em {
   font-style: normal;
   font-weight: 600;
}
.firstinfo .profileinfo .bio {
  /* padding: 10px 0px;
  color: #2A2A2A;
  line-height: 1.2;
  font-style: initial; */
  color: #2A2A2A;
  flex: 10;
  /* margin-bottom: auto; */
  margin: 6px 0px 0px 0px;
}


@keyframes anim-card {
  0% {
    opacity: 0;
    bottom: -500px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
@keyframes anim-badge {
  0% {
    opacity: 0;
    top: -100px;
  }
  100% {
    opacity: 1;
    top: 10px;
  }
}
@keyframes rotatemagic {
  0% {
    opacity: 0;
    transform: rotate(0deg);
    top: -30%;
    left: -35%;
  }
  100% {
    transform: rotate(-135deg);
    top: -30%;
    left: -35%;
  }
}