.cv-content {
   margin-top: 10px;
   width: 100%;
   height: 100%;
   flex: 1 1 auto;
   gap: 0.2rem;
   align-items: stretch;
}

.cv-content ul {
   margin: 0;
   padding: 0;
}

.cv-content .inside {
   background-color: var(--color-theme-accent);
   transition: max-height 0.5s ease;
}

.cv-chapter {
   align-items: stretch;
}

.cv-chapter .expand-button {
   padding: 2px 0px;
   width: 100%;
}

.cv-chapter .inside .expand-button {
   margin-left: 30px;
   width: calc(100% - 30px);
}

.cv-chapter .inside.smooth {
   max-height: auto;
}

.cv-chapter .inside .inside .expand-button {
   margin-left: 60px;
   width: calc(100% - 60px);
}

.cv-chapter.inactive .inside {
   display: none;
}

.cv-chapter.active {
   flex: 10 1 auto;
}

.vert-margin {
   /* margin: 1em 0; */
}

.active .inside {
   flex: 10 1 auto;
   overflow-y: auto;
   height: 0;
}

/* .active .inside::-webkit-scrollbar-thumb {
   
   
} */

/*  */

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: var(--color-theme-normal);
}

::-webkit-scrollbar
{
	width: 0.8em;
	background-color: var(--color-theme-normal);
}

::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	/* -webkit-box-shadow: calc(var(--pixel) * -1) 0 0 0 var(--pixel-border),
   calc(var(--pixel) * -2) 0 0 0 var(--pixel-border-2),
   calc(var(--pixel) * -3) 0 0 0 var(--pixel-border-3),
   inset 0 0 calc(var(--pixel) * -1) 0 var(--pixel-border),
   inset 0 0 calc(var(--pixel) * -2) 0 var(--pixel-border-2),
   inset 0 0 calc(var(--pixel) * -3) 0 var(--pixel-border-3)
   ; */
	background-color: var(--color-theme-bold);
   /* background-image: linear-gradient(90deg, var(--color-theme-bold) 0%, var(--color-theme-accent) 50%, var(--color-theme-bold) 100%); */
}

.cv-chapter, .cv-button {
   width: 100%;
   border: none;
   text-align: center;
   color: var(--color-font-title);
}

.cv-button .expand-button {
   padding: 4px 0px;
   width: 100%;
}

.cv-text {
   padding: 0.5em;
}