.cv-content {
   margin-top: 10px;
}

.cv-chapter, .cv-button {
   width: 100%;
  border: none;
  margin: 0;
  text-align: center;
}

.cv-chapter .expand-button, .cv-button .expand-button {
   padding: 4px 0px;
   width: 100%;
}