.cv-content {
   margin-top: 1rem;
   width: 100%;
   height: 100%;
   flex: 1 1 auto;
   align-items: stretch;
}

.cv-content ul {
   margin: 0;
   padding: 0;
}

.cv-content .inside {
   background-color: var(--color-theme-accent);
   /* transition: max-height 0.5s ease; */
}

.cv-chapter {
   align-items: stretch;
   will-change: height,max-height;
}

.cv-chapter-head {
   /* border-color: var( --color-theme-bold); */
   /* border-width: 0px; */
   /* border-style: solid inset; */
   border-width: 0px;
   /* box-shadow: var(--color-font-title) 2px 2px 0 0; */
   display: inline-block;
   touch-action: manipulation;
}

.active .cv-chapter-head {
   border-bottom-width: 2px;
}

.cv-chapter.active button span {
   filter: invert(0.5);
   mix-blend-mode: difference;
   /* filter: revert; */
}

.cv-chapter-head .wrappee {
  height: 100%;
  width: 100%;
  text-align: center;
}

.toplevel > .cv-chapter-head {
   font-size: 1.2rem;
}

.inside .cv-chapter-head {
   font-size: 1.1rem;
}

.active .inside .active .cv-chapter-head {
   font-size: 1.2rem;
   transition: font-size 0.2s ease-in;
}

.active .cv-chapter-head .wrappee {
   transition: box-shadow 0.5s ease-in;
}

.inactive .cv-chapter-head .wrappee {
   transition: box-shadow 0.0s ease;
}

.cv-chapter-head:hover {
  transform: translate(-2px, 0px);
  filter: brightness(105%);
}

.cv-chapter .inside .expand-button {
   margin-left: 30px;
   width: calc(100% - 30px);
}

.cv-chapter .inside.smooth {
   /* max-height: auto; */
}

.cv-chapter .inside .inside .expand-button {
   margin-left: 60px;
   width: calc(100% - 60px);
}

.cv-chapter.inactive .inside {
   display: block;
   overflow-y: hidden;
   padding: 0;
   margin: 0;
   opacity: 0;
   flex: 1 1 auto;
   overflow-y: hidden;
   height: 100%;
   line-height: 0;
   border-width: 0;
}

.cv-chapter.inactive .cv-chapter .inside {
   height: 0;
   display: none;
}

.cv-chapter.active .inside {
   justify-content: space-around;
   height: 0;
}

#sidebar > div.cv-content.flex-column > div.cv-chapter > div.inside {
   height: 0;
}

.cv-chapter.active .cv-chapter.active .inside {
   flex: 100 1 auto;
   overflow-y: auto;
   /* height: 0; */
}

.cv-chapter {

}

.cv-chapter.active {
   flex: 100 1 auto;
}

/* .cv-chapter.inactive {
   flex: 0.001 1 auto;
   overflow-y: hidden;
   height: 0;
} */

.vert-margin {
   /* margin: 1em 0; */
}

.active .inside {
   flex: 10 1 auto;
   overflow-y: auto;
   height: 0;
}

/* .active .inside::-webkit-scrollbar-thumb {
   
   
} */

/*  */

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: var(--color-theme-normal);
}

::-webkit-scrollbar
{
	width: 0.8em;
	background-color: var(--color-theme-normal);
}

::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	/* -webkit-box-shadow: calc(var(--pixel) * -1) 0 0 0 var(--pixel-border),
   calc(var(--pixel) * -2) 0 0 0 var(--pixel-border-2),
   calc(var(--pixel) * -3) 0 0 0 var(--pixel-border-3),
   inset 0 0 calc(var(--pixel) * -1) 0 var(--pixel-border),
   inset 0 0 calc(var(--pixel) * -2) 0 var(--pixel-border-2),
   inset 0 0 calc(var(--pixel) * -3) 0 var(--pixel-border-3)
   ; */
	background-color: var(--color-theme-bold);
   /* background-image: linear-gradient(90deg, var(--color-theme-bold) 0%, var(--color-theme-accent) 50%, var(--color-theme-bold) 100%); */
}

.cv-chapter, .cv-button {
   width: 100%;
   border-left-width: 8px;
   text-align: center;
   color: var(--color-font-title);
}

.cv-chapter .expand-button {
   /* border-width: 0 8px 0 8px; */
   border-style: solid;
   padding: 0;
}

.active .cv-text {
   border-style: solid;
   /* border-left-width: 0.5rem; */
   /* border-width: 0.5rem 0 0 0.5rem; */
   border-width: 0.35rem 0.5rem 0.35rem 0.5rem;
   border-color: var(--color-theme-accent);
}

.cv-text {
   padding-right: 0.5em;
   text-align: justify;
}

.years-block {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   color: var(--color-theme-bold);
   margin: 0rem 1rem 0rem 1rem;
}

.year-separator {    
   height: 9px;
   width: 2px;
   background-color: var(--color-theme-bold);
   /* border-radius: 50%; */
   display: inline-block;
   position: relative;
   /* font-weight: 300; */
}

.year-value {
   font-weight: 600;
}

.icons {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   /* gap: 0.2rem; */
   margin-bottom: 0.5rem;
}

.icons img {
   object-fit: cover;
   height: 3.5rem;
   transition: scale 100ms ease-in-out;
}

.icons img:hover {
   scale: 1.2;
}

.icons img.large {
   width: 5rem;
}

.icons img.huge {
   width: 6rem;
}

.cv-chapter ul {
   padding-left: 1rem;
   list-style-type: disc;
   list-style-position: outside;
}

.cv-chapter li::marker {
   /* font-size: 1.1rem; */
}

.cv-chapter ul ul {
   padding-left: 1rem;
   list-style-type: circle;
}