:root {
}

#sidebar {
   /* position: absolute; */
   display: flex;
   flex-direction: column;
   flex: 1 0 var(--sidebar-width);
   top: 0;
   left: 0;
   height: 100vh;
   background-color: var(--color-theme-normal);
   padding: .4rem .8rem;
   box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2) inset;
}

#side-top .flex-block {
   margin: 5px 5px 5px 5px;
}

.side-head h1 em {
   font-style: normal;
   font-weight: 600;
}

#sidebar .author {
   align-items: baseline;
}

#sidebar .author .author-description {
   display: inline-block;
}

#sidebar .author span {
   color: #333;
   opacity: 1;
}

#sidebar .author-photo {
   width: 130px;
   height: 130px;
   border-radius: 25%;
   border: 1px solid #aaa;
   display: inline-block;
}

#sidebar ul li:hover .tooltip {
   opacity: 1;
}

#sidebar.active ul li .tooltip {
   display: none;
}
